:root{
    --first-color: #176B87;
    --second-color: #86B6F6;
    --third-color: #B4D4FF;
    --forth-color: #EEF5FF;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container{
	max-width: 100%;
    margin: auto;
}

.navbar{
    display: flex;
    padding: 20px 100px;
    background: var(--first-color);
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    color: var(--third-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar ul{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    text-decoration: none;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--third-color);
    color: var(--first-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.navbar ul li a:hover{
    background: var(--forth-color);
    color: var(--first-color);
}

.hero{
    display: flex;
    height: 613px;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 76px;
    flex-shrink: 0;
    background: var(--forth-color);
}

.hero .welcome{
    height: 138px;
    align-self: stretch;
}

.hero h1{
    color: var(--first-color);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.hero p{
    padding: 30px 100px;
    color: var(--first-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.triangle {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 141px 200px 141px;
   border-color: transparent transparent var(--second-color) transparent;
   transform: rotate(0deg);
}

.lurus{
	position: absolute;
    margin-left: 140px;
    margin-top: -200px;
    height: 200px;
	border-left: 2px solid var(--first-color);
}

.satu{
	position: absolute;
    margin-left: 40px;
    margin-top: -100px;
}

.dua{
	position: absolute;
    margin-left: 225px;
    margin-top: -100px;
}

.tiga{
	position: absolute;
    margin-left: 140px;
}

.empat{
	position: absolute;
    margin-left: 145px;
    margin-top: -80px;
}

.lima{
	position: absolute;
    margin-left: 100px;
    margin-top: -20px
}

.content .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .left{
    display: flex;
    height: 333px;
    padding: 50px 0px 20px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    background-color: var(--second-color);
    color: var(--first-color);
}

.left strong{
    font-size: 2rem;
}

.content .right{
    display: flex;
    height: 333px;
    padding: 50px 0px 20px 100px;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 31px;
    color: var(--first-color);
    
}

.content input{
    display: flex;
    margin: 20px 20px;
    padding: 10px 20px;
    border-radius: 24px;
    border-color: var(--first-color);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--first-color);   
}

.content .btn{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.content .btn .btn-submit{
    border-radius: 24px;
    background: var(--third-color);
    cursor: pointer;
}

.content .btn .btn-submit:hover{
    border-radius: 24px;
    background: var(--forth-color);
}

#tab-1-content{
    display: none;
}

#tab-2-content{
    display: none;
}

#tab-3-content{
    display: none;
}

#tab-4-content{
    display: none;
}

#content-1{
    display: none;
}

#content-2{
    display: none;
}


.show{
    display: flex !important;
}

.tampil{
    display: block!important;
}

footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    color: var(--forth-color);
    background-color: var(--first-color);
}

@media (max-width: 700px) {
    .content .container{
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: left;
        justify-content: left;
    }

    .hero p{
        padding: 30px;
    }

    .navbar{
        display: flex;
        padding: 10px;
        background: var(--first-color);
        align-items: center;
        justify-content: space-between;
    }
    .navbar ul{
        gap: 10px;
    }

}